<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE project>
<configuration debug="true" scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[Moderno] [log_time=%d{ISO8601}] *!* [thread=%thread] *!* [level=%-5level] *!* [component=%class{1}.%method:%L] %throwable *!* body=[%msg]%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>/var/log/hostingserver/moderno.log</file>
		<encoder>
			<pattern>[Moderno] [log_time=%d{ISO8601}] *!* [thread=%thread] *!* [level=%-5level] *!* [component=%class{1}.%method:%L] %throwable *!* body=[%msg]%n</pattern>
      	</encoder>
    </appender>


     <logger name="httpclient.wire" additivity="false" >
         <level value="INFO"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
     </logger>
     <logger name="httpclient.wire" additivity="false" >
         <level value="INFO"/>
         <appender-ref ref="FILE"/>
         <appender-ref ref="STDOUT"/>
     </logger>
     <logger name="org.apache.http" additivity="false">
         <level value="INFO"/>
         <appender-ref ref="FILE"/>
         <appender-ref ref="STDOUT"/>
     </logger>
     <logger name="com.sun.jersey" additivity="false">
        <level value="OFF"/>
         <appender-ref ref="FILE"/>
         <appender-ref ref="STDOUT"/>
     </logger>

	<logger name="com.datastax.driver.core.QueryLogger.SLOW">
    	<level value="DEBUG"/>
  	</logger>

	<logger name="com.datastax.driver.core.QueryLogger.NORMAL">
    	<level value="TRACE"/>
  	</logger>

	<logger name="com.datastax.driver.core.QueryLogger.ERROR">
    	<level value="TRACE"/>
  	</logger>
       
  <root level="DEBUG">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
